<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigforce.common_ui" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required for foreground services on P+. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application>
        <activity android:name="com.gigforce.common_image_picker.image_cropper.ImageCropActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>
        <!-- Foreground services in Q+ require type. -->
        <service
            android:name=".location.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|camera|microphone" />
    </application>

</manifest>