<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gigforce.app">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_icon_with_grad"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_app_icon_with_grad_round"
        android:supportsRtl="true"
        android:theme="@style/GigforceTheme"
        tools:node="merge"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:allowBackup">
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <meta-data
        android:name="preloaded_fonts"
               app to run.
        -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNgKMbX24olXyDp4xSa_UZZET0VPK2ZOE" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name="com.gigforce.modules.feature_chat.service.SyncContactsService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".services.SyncUnSyncedDataService"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoCrop" />
        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageCropper" />
        <activity android:name="com.gigforce.modules.feature_chat.mediapicker.Dazzle"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gigforce.modules.feature_chat.mediapicker.DazzleGallery"
            android:screenOrientation="portrait" />
        <activity android:name="com.gigforce.modules.feature_chat.mediapicker.VideoViewerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gigforce.giger_gigs.captureimage.AttendanceImageCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gigforce.giger_gigs.photocrop.PhotoCrop"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.gigforce.common_ui.utils.DocViewerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.gig4ce.com"
                    android:scheme="http" />
                <data
                    android:host="www.gig4ce.com"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="gigforceapp" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.profile_.ProfilePicUploadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="layoutDirection|orientation|screenSize|keyboardHidden">
            <nav-graph android:value="@navigation/nav_graph" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" /><!--Images All-->
                <data android:mimeType="video/*" /><!--Videos All-->
                <data android:mimeType="application/pdf" /> <!--PDF-->
                <data android:mimeType="application/vnd.ms-excel" /><!--XLS-->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /><!--XLSX-->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" /><!--Docx-->
                <data android:mimeType="application/msword" /> <!--Doc-->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" /><!--Images All-->
                <data android:mimeType="video/*" /><!--Videos All-->
                <data android:mimeType="application/pdf" /> <!--PDF-->
                <data android:mimeType="application/vnd.ms-excel" /><!--XLS-->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /><!--XLSX-->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" /><!--Docx-->
                <data android:mimeType="application/msword" /> <!--Doc-->
            </intent-filter>

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:resource="@array/preloaded_fonts"
                    android:windowSoftInputMode="adjustResize" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.gig.open_gig_attendance_page" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.gig.open_gig_page_2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.verification.open_verification_page" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.chats.open_chat" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.chats.open_group_chat" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
<!--            <intent-filter >-->
<!--                <action android:name="com.google.android.gms.location.sample.locationupdatesforegroundservice.broadcast" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
            <intent-filter>
                <action android:name="com.gigforce.app.calendar.open_calendar_home_screen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.joinings.open_joining_screen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.verification.aadhaar" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.verification.pan" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.verification.bank" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.verification.dl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_cf1kHW4fcGP4SXVy31QE6ehoxyjgqLlW" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_ph6gM53mhJM4J7Vt14O1OpkftwepAJEe" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
    </application>

</manifest>