<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gigforce.app">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_icon_with_grad"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_icon_with_grad_round"
        android:supportsRtl="true"
        android:theme="@style/GigforceTheme"
        tools:node="merge"
        tools:replace="android:label,android:allowBackup">
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <meta-data
        android:name="preloaded_fonts"
               app to run.
        -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNgKMbX24olXyDp4xSa_UZZET0VPK2ZOE" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="67Z-W98-795Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="bc0-1a6" />
        <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name="com.gigforce.modules.feature_chat.service.SyncContactsService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />

        <!--        <service-->
        <!--            android:name="com.clevertap.android.sdk.FcmTokenListenerService">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!--        <service-->
        <!--            android:name="com.clevertap.android.sdk.FcmMessageListenerService">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
        <!--            </intent-filter>-->
        <!--        </service>-->


        <!--        <receiver-->
        <!--            android:name=".modules.auth.ui.main.SmsRetrieverBroadcastReceiver"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoCrop" />
        <activity
            android:name=".modules.markattendance.ImageCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gigforce.app.modules.photocrop.PhotoCrop"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".utils.DocViewerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.gig4ce.com"
                    android:scheme="http" />
                <data
                    android:host="www.gig4ce.com"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="gigforceapp" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="layoutDirection|locale|orientation|screenSize|keyboardHidden">
            <nav-graph android:value="@navigation/nav_graph" />

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:resource="@array/preloaded_fonts"
                    android:windowSoftInputMode="adjustResize" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.gig.open_gig_attendance_page" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.gig.open_gig_page_2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.verification.open_verification_page" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.chats.open_chat" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigforce.app.chats.open_group_chat" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--        <receiver android:name=".core.base.language.LanguageChangeReceiver">-->
        <!--            <intent-filter><action android:name="android.intent.action.ACTION_LOCALE_CHANGED"/>-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_cf1kHW4fcGP4SXVy31QE6ehoxyjgqLlW" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_ph6gM53mhJM4J7Vt14O1OpkftwepAJEe" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
    </application>

</manifest>